{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block content %}

    <body>

    <div class="main-wrapper">


        <div class="page-wrapper">
            <div class="content container-fluid">
                {% for message in messages %}
                    {% if message %}
                        <div class="alert alert-{{ message.tags }} text-center">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="page-header">
                    <div class="content-page-header">
                        <h5>Add Order</h5>
                    </div>
                </div>


                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-lg-12 col-sm-12">
                        <div class="form-group">
                            <label>Customer Name<span class="text-danger">*</span></label>
                            <input type="text" name="customer" class="form-control"
                                   value="{{ order.customer.name }}" readonly>
                        </div>
                    </div>

                    {{ form|crispy }}




                    <div class="text-end">
                        {#                        <a href="{% url 'invoice_customer_detail_view' order.id %}" class="btn btn-primary cancel me-2">Cancel</a>#}
                        <input type="submit" class="btn btn-primary" value="Add Order">
                    </div>
                </form>


            </div>
        </div>

    </div>


    </body>


{% endblock %}