{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block content %}

    <body>

    <div class="main-wrapper">


        <div class="page-wrapper">
            <div class="content container-fluid">
                {% for message in messages %}
                    {% if message %}
                        <div class="alert alert-{{ message.tags }} text-center">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}


                <div class="page-header">
                    <div class="content-page-header">
                        <h5>Add Invoice</h5>
                    </div>
                </div>


                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}




                    <div class="text-end">
                        <a href="{% url 'invoice' %}" class="btn btn-primary cancel me-2">Cancel</a>
                        <input type="submit" class="btn btn-primary" value="Add Invoice">
                    </div>
                </form>


            </div>
        </div>

    </div>


    </body>


{% endblock %}