{% extends 'base.html' %}
{% load static %}
{% block content %}

    <body>

    <div class="main-wrapper">


        <div class="page-wrapper">
            <div class="content container-fluid">

            {% for message in messages %}
                    {% if message %}
                        <div class="alert alert-success text-center">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}

                <div class="page-header">
                    <div class="content-page-header">
                        <h5>Customers</h5>
                        <div class="list-btn">
                            <ul class="filter-list">
                                <li>
                                    <a class="btn btn-filters w-auto popup-toggle" data-bs-toggle="tooltip"
                                       data-bs-placement="bottom" title="Filter"><span class="me-2"><img
                                            src="{% static 'assets/img/icons/filter-icon.svg' %}" alt="filter"></span>Filter
                                    </a>
                                </li>

                                <li>
                                    <div class="dropdown dropdown-action" data-bs-toggle="tooltip"
                                         data-bs-placement="top" title="Download">
                                        <a href="#" class="btn-filters" data-bs-toggle="dropdown" aria-expanded="false"><span><i
                                                class="fe fe-download"></i></span></a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <ul class="d-block">
                                                <li>
                                                    <a class="d-flex align-items-center download-item"
                                                       href="javascript:void(0);" download><i
                                                            class="far fa-file-pdf me-2"></i>PDF</a>
                                                </li>
                                                <li>
                                                    <a class="d-flex align-items-center download-item"
                                                       href="javascript:void(0);" download><i
                                                            class="far fa-file-text me-2"></i>CVS</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a class="btn-filters" href="javascript:void(0);" data-bs-toggle="tooltip"
                                       data-bs-placement="bottom" title="Print"><span><i
                                            class="fe fe-printer"></i></span> </a>
                                </li>

                                <li>
                                    <a class="btn btn-primary" href="{% url 'invoiceCreate' %}"><i
                                            class="fa fa-plus-circle me-2" aria-hidden="true"></i>Add Invoice</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-sm-6 col-12 d-flex">
                        <div class="card inovices-card w-100">
                            <div class="card-body">
                                <div class="dash-widget-header">
                                    <span class="inovices-widget-icon bg-info-light">
                                    <img src="{% static 'assets/img/icons/receipt-item.svg' %}" alt>
                                    </span>
                                    <div class="dash-count">
                                        <div class="dash-title">Total Invoice</div>
                                        <div class="dash-counts">
                                            <p>$298</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="inovices-all">No of Invoice <span
                                            class="rounded-circle bg-light-gray">02</span></p>
                                    <p class="inovice-trending text-success-light">02 <span class="ms-2"><i
                                            class="fe fe-trending-up"></i></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 col-12 d-flex">
                        <div class="card inovices-card w-100">
                            <div class="card-body">
                                <div class="dash-widget-header">
                                    <span class="inovices-widget-icon bg-primary-light">
                                    <img src="assets/img/icons/transaction-minus.svg" alt>
                                    </span>
                                    <div class="dash-count">
                                        <div class="dash-title">Total Customer</div>
                                        <div class="dash-counts">
                                            <p>$325,215</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="inovices-all">No of Invoice <span
                                            class="rounded-circle bg-light-gray">03</span></p>
                                    <p class="inovice-trending text-success-light">04 <span class="ms-2"><i
                                            class="fe fe-trending-up"></i></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 col-12 d-flex">
                        <div class="card inovices-card w-100">
                            <div class="card-body">
                                <div class="dash-widget-header">
                                    <span class="inovices-widget-icon bg-warning-light">
                                    <img src="assets/img/icons/archive-book.svg" alt>
                                    </span>
                                    <div class="dash-count">
                                        <div class="dash-title">Total Money</div>
                                        <div class="dash-counts">
                                            <p>$7825</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="inovices-all">No of Invoice <span
                                            class="rounded-circle bg-light-gray">01</span></p>
                                    <p class="inovice-trending text-danger-light">03 <span class="ms-2"><i
                                            class="fe fe-trending-down"></i></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 col-12 d-flex">
                        <div class="card inovices-card w-100">
                            <div class="card-body">
                                <div class="dash-widget-header">
                                    <span class="inovices-widget-icon bg-primary-light">
                                    <img src="{% static 'assets/img/icons/clipboard-close.svg' %}" alt>
                                    </span>
                                    <div class="dash-count">
                                        <div class="dash-title">Total Debt</div>
                                        <div class="dash-counts">
                                            <p>100</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="inovices-all">No of Invoice <span
                                            class="rounded-circle bg-light-gray">04</span></p>
                                    <p class="inovice-trending text-danger-light">05 <span class="ms-2"><i
                                            class="fe fe-trending-down"></i></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-table">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-stripped table-hover datatable">
                                        <thead class="thead-light">
                                        <tr>
                                            <th>Invoice ID</th>
                                            <th>Customer</th>
                                            <th>Created On</th>
                                            <th>Total Amount</th>
                                            <th>Paid Amount</th>
                                            <th>Payment Mode</th>
                                            <th>Debt</th>
                                            <th class="text-end">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for invoice in invoices %}
                                            <tr>
                                            <td>
                                                <a href="{% url 'invoiceCustomerDetail' invoice.id %}" class="invoice-link">#{{invoice.invoice.id}}</a>
                                            </td>
                                                <td>{{ invoice.customer.name }}</td>
                                            <td>{{ invoice.datetime|date:'Y-m-d H:m'}}</td>
                                            <td>${{invoice.get_total}}</td>
                                            <td>$1,50,000</td>
                                            <td>Cash</td>
                                            <td>$2,54,00</td>


                                            <td>
                                                <div class="dropdown dropdown-action">
                                                    <a href="#" class=" btn-action-icon " data-bs-toggle="dropdown"
                                                       aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-end customer-dropdown">
                                                        <ul>
                                                            <li>
                                                                <a class="dropdown-item" href="edit-customer.html"><i
                                                                        class="far fa-edit me-2"></i>Edit</a>
                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item" href="javascript:void(0);"
                                                                   data-bs-toggle="modal"
                                                                   data-bs-target="#delete_modal"><i
                                                                        class="far fa-trash-alt me-2"></i>Delete</a>
                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item" href="customer-details.html"><i
                                                                        class="far fa-eye me-2"></i>View</a>
                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item" href><i
                                                                        class="fe fe-send me-2"></i>Send</a>
                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item" href><i
                                                                        class="fe fe-download me-2"></i>Download</a>
                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item" href="add-credit-notes.html"><i
                                                                        class="fe fe-file-text me-2"></i>Convert to
                                                                    Sales
                                                                    Return</a>
                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item" href><i
                                                                        class="fe fe-copy me-2"></i>Clone as Invoice</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal custom-modal fade" id="delete_modal" role="dialog">
                    <div class="modal-dialog modal-dialog-centered modal-md">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="form-header">
                                    <h3>Delete Customer Details</h3>
                                    <p>Are you sure want to delete?</p>
                                </div>
                                <div class="modal-btn delete-action">
                                    <div class="row">
                                        <div class="col-6">
                                            <a href="#" data-bs-dismiss="modal"
                                               class="btn btn-primary paid-continue-btn">Delete</a>
                                        </div>
                                        <div class="col-6">
                                            <a href="#" data-bs-dismiss="modal" class="btn btn-primary paid-cancel-btn">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>


    </body>

    <!-- Mirrored from kanakku.dreamguystech.com/html/template/customer-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Oct 2023 15:22:03 GMT -->
    </html>

{% endblock %}