{% extends 'base.html' %}
{% load static %}
{% block content %}

    <body>

    <div class="main-wrapper">


        <div class="page-wrapper">
            <div class="content container-fluid">


                {% for message in messages %}
                    {% if message %}
                        <div class="alert alert-{{ message.tags }} text-center">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}

                <div class="page-header">
                    <div class="content-page-header">
                        <h5>Purchase Orders</h5>
                        <div class="list-btn">
                            <ul class="filter-list">

                                <li>
                                    <a class="btn btn-filters w-auto popup-toggle" data-bs-toggle="tooltip"
                                       data-bs-placement="bottom" data-bs-original-title="Filter"><span
                                            class="me-2"><img src="{% static 'assets/img/icons/filter-icon.svg' %}"
                                                              alt="filter"></span>Filter </a>
                                </li>

                                <li>
                                    <a class="btn btn-primary" href="{% url 'orderCreate' %}"><i
                                            class="fa fa-plus-circle me-2" aria-hidden="true"></i>Add Order</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-table">
                            <div class="card-body">
                                <div class="table-responsive">

                                    <table class="table table-stripped table-hover datatable">
                                        <thead class="thead-light">
                                        <tr>
                                            <th>Order By</th>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Total Price</th>
                                            <th>Category</th>
                                            <th>Date Time</th>
                                            <th>Invoice To Customer</th>
                                            <th>Witch Product</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for order in orders %}
                                            <tr>

                                                <td>
                                                    <a href="{% url 'staff' %}"
                                                       class="avatar-sm me-2">
                                                        <img class="avatar-img rounded-circle"
                                                             src="{{ order.staff.profile.image.url }}"
                                                             alt="User Image"><span
                                                            style="margin-left: 0.5rem; color: #8a8a8a">{{ order.staff.username|title }}</span>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'productListView' %}"
                                                       class="avatar-sm me-2">
                                                        <span
                                                                style="color: #8a8a8a">{{ order.product.name|title }}</span>
                                                    </a>
                                                </td>
                                                <td>{{ order.order_quantity }}</td>
                                                <td>{{ order.get_total }} $</td>
                                                <td>{{ order.product.category.title }}</td>

                                                <td>{{ order.datetime|date:"Y-m-d H:m:s" }}</td>

                                                <td>
                                                    <a href="{% url 'invoiceCustomerDetail' order.id %}"
                                                       class="avatar-sm me-2">
                                                        <img class="avatar-img rounded-circle"
                                                             src="{% static 'assets/img/icons/receipt-item.svg' %}"
                                                             alt="User Image"><span
                                                            style="margin-left: 0.5rem; color: #170f0f">{{ order.customer.name|title }}</span>
                                                    </a>
                                                </td>


                                                <form action="{% url 'order' %}" method="post">
                                                    {% csrf_token %}
                                                    <td>
                                                        <div class="checkbox">

                                                            <label>
                                                                <input style="width: 20px; height: 20px; margin-right: 1rem;"
                                                                       class="btn btn-outline-info" type="checkbox"
                                                                       name="active"
                                                                       value="{{ order.id }}">

                                                                {% if order.active == True %}
                                                                    <button type="submit"
                                                                            class="btn btn-success">{{ order.active }}</button>
                                                                {% else %}
                                                                    <button type="submit"
                                                                            class="btn btn-danger btn-light">{{ order.active }}</button>
                                                                {% endif %}

                                                            </label>
                                                        </div>
                                                    </td>
                                                </form>

                                                <td class="d-flex align-items-center">
                                                    <div class="dropdown dropdown-action">
                                                        <a href="#" class=" btn-action-icon " data-bs-toggle="dropdown"
                                                           aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-end">
                                                            <ul>
                                                                <li>
                                                                    <a class="dropdown-item"
                                                                       href="{% url 'orderUpdate' order.id %}"><i
                                                                            class="far fa-edit me-2"></i>Update</a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item"
                                                                       href="{% url 'orderDelete' order.id %}"><i
                                                                            class="far fa-trash-alt me-2"></i>Delete</a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item"
                                                                       href="#s"><i
                                                                            class="far fa-add me-2"></i>Continue</a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>
                                        {% endfor %}


                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>


    </body>

{% endblock %}