{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}



    <div class="main-wrapper">


        <div class="page-wrapper">
            <div class="content container-fluid">

                <div class="row">
                    <div class="col-xl-12 col-md-8">
                        <div class="content w-100 pt-0">
                            <div class="card-header">
                                <h4  class="title text-end"><a href="{% url 'order' %}"><input type="submit" class="btn btn-info" value="Cancel"></a></h4>
                                <hr>
                            </div>

                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <h4>
                                    {{ form|crispy }}
                                </h4>


                                <input type="submit" class="btn btn-outline-info d-lg-block" style="width: 100%" value="Update">

                            </form>


                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>



{% endblock %}