{% extends 'base.html' %}
{% load static %}
{% block content %}

    <body>

    <div class="main-wrapper">


        <div class="page-wrapper">
            <div class="content container-fluid">

                <div class="page-header">
                    <div class="content-page-header ">
                        <h5>Users</h5>
                        <div class="list-btn">
                            <ul class="filter-list">
                                <li>
                                    <a class="btn btn-filters w-auto popup-toggle" data-bs-toggle="tooltip"
                                       data-bs-placement="bottom" data-bs-original-title="Filter"><span
                                            class="me-2"><img src="{% static 'assets/img/icons/filter-icon.svg' %}"
                                                              alt="filter"></span>Filter </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-table">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-center table-hover datatable">
                                        <thead class="thead-light">
                                        <tr>
                                            <th>User</th>
                                            <th>is SuperUser</th>
                                            <th>Email</th>
                                            <th>Last Login</th>
                                            <th>Created on</th>
                                            <th>is Active</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for user in users %}
                                            <tr>

                                                {% if user.profile.image %}
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="{% url 'staffDetail' user.id %}"
                                                               class="avatar avatar-sm me-2"><img
                                                                    class="avatar-img rounded-circle"
                                                                    src="{{ user.profile.image.url }}"
                                                                    alt="User Image"></a>
                                                            <a href="{% url 'staffDetail' user.id %}">{{ user.username }}
                                                                <span><span class="__cf_email__"
                                                                            data-cfemail="d3b9bcbbbd93b6abb2bea3bfb6fdb0bcbe">{{ user.last_name }}</span></span></a>
                                                        </h2>
                                                    </td>
                                                {% else %}
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="#" class="avatar avatar-sm me-2"><img
                                                                    class="avatar-img rounded-circle"
                                                                    src="{% static 'assets/img/img-04.jpg' %}"
                                                                    alt="User Image"></a>
                                                            <a href="{% url 'staffDetail' user.id %}">{{ user.username }}
                                                                <span><span class="__cf_email__"
                                                                            data-cfemail="d3b9bcbbbd93b6abb2bea3bfb6fdb0bcbe">{{ user.last_name }}</span></span></a>
                                                        </h2>
                                                    </td>

                                                {% endif %}

                                                <td>{{ user.is_superuser }}</td>
                                                <td>{{ user.email }}</td>

                                                <td><span
                                                        class="badge badge-pill bg-ash-gray text-gray-light">{{ user.last_login|date:"Y-m-d h:m:s" }}</span>
                                                </td>
                                                <td>{{ user.date_joined|date:"Y-m-d h:m:s" }}</td>
                                                <td><span
                                                        class="badge badge-pill bg-success-light">{{ user.is_active }}</span>
                                                </td>

                                                <td>
                                                    <a href="{% url 'staffUpdate' user.id %}"
                                                       class="btn btn-outline-info btn-sm">Edit</a>
                                                    <a href="{% url 'staffDelete' user.id %}"
                                                       class="btn btn-outline-danger btn-sm">Delete</a>

                                                </td>
                                            </tr>

                                        {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="toggle-sidebar">
            <div class="sidebar-layout-filter">
                <div class="sidebar-header">
                    <h5>Filter</h5>
                    <a href="#" class="sidebar-closes"><i class="fa-regular fa-circle-xmark"></i></a>
                </div>
                <div class="sidebar-body">
                    <form action="#" autocomplete="off">

                        <div class="accordion" id="accordionMain1">
                            <div class="card-header-new" id="headingOne">
                                <h6 class="filter-title">
                                    <a href="javascript:void(0);" class="w-100" data-bs-toggle="collapse"
                                       data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Customer
                                        <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                                    </a>
                                </h6>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample1">
                                <div class="card-body-chat">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="checkBoxes1">
                                                <div class="form-custom">
                                                    <input type="text" class="form-control" id="member_search1"
                                                           placeholder="Search here">
                                                    <span><img src="{% static 'assets/img/icons/search.svg' %}" alt="img"></span>
                                                </div>
                                                <div class="selectBox-cont">
                                                    <label class="custom_check w-100">
                                                        <input type="checkbox" name="username">
                                                        <span class="checkmark"></span> Brian Johnson
                                                    </label>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <button type="submit"
                                class="d-inline-flex align-items-center justify-content-center btn w-100 btn-primary">
                            <span><img src="{% static 'assets/img/icons/chart.svg' %}" class="me-2"
                                       alt="Generate report"></span>Generate
                            report
                        </button>
                    </form>
                </div>
            </div>
        </div>


        <div class="modal custom-modal fade" id="delete_modal" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-header">
                            <h3>Delete Users</h3>
                            <p>Are you sure want to delete?</p>
                        </div>
                        <div class="modal-btn delete-action">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#" class="btn btn-primary paid-continue-btn">Delete</a>
                                </div>
                                <div class="col-6">
                                    <a href="#" data-bs-dismiss="modal"
                                       class="btn btn-primary paid-cancel-btn">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    </body>


{% endblock %}