{% extends 'base.html' %}
{% load static %}
{% block content %}

    <body xmlns="http://www.w3.org/1999/html">

    <div class="main-wrapper">
        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="content-page-header">
                    <h5>Add Unit</h5>
                </div>

                <form method="post" >

                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <div class="form-group-item border-0 pb-0 mb-0">

                                    <div class="row">
                                        <div class="col-lg-4 col-sm-12">
                                            <div class="form-group">
                                                <label>Unit Short Name <span class="text-danger">*</span></label>
                                                <input type="text" name="name" class="form-control"
                                                       placeholder="Enter Name">
                                            </div>
                                        </div>


                                        <div class="col-xl-6 col-lg-6 col-md-6 col-12 description-box">
                                            <div class="form-group" id="summernote_container">
                                                <label class="form-control-label">Unit Long Name</label>
                                                <textarea name="description" class="summernote form-control"
                                                          placeholder="Unit Long Name"></textarea>
                                            </div>
                                        </div>


                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>


                    <div class="text-end">
                        <input type="submit" class="btn btn-primary" value="Add Category">
                    </div>


                </form>

            </div>
        </div>
    </div>
    </body>

{% endblock %}